
<h1><%= @sport.capitalize %> Dropins </h1>
<%= link_to 'Volleyball', {:sport => 'volleyball' }, class:'btn btn-default' %>
<%= link_to 'Soccer', {:sport => 'soccer'} , class:'btn btn-default' %>
<%= link_to 'Hockey', {:sport => 'hockey'} , class:'btn btn-default' %>
<%= link_to 'Dragonboat', {:sport => 'dragonboat'} , class:'btn btn-default' %>
<%= link_to 'Basketball', {:sport => 'basketball'} , class:'btn btn-default' %>

<%#= link_to 'Show Only Active', params.merge(:active => 'true'), class:'btn btn-default pull-right' %>
<br/>
<%= link_to 'Create a new dropin', new_dropin_path, class: 'btn btn-default' %>

<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Sport</th>
    <th>Skill Level</th>
    <th>Location</th>
    <th>Organization</th>
    <th>Price</th>
    <th>Schedule</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th># of Sessions</th>
    <th>Time</th>
    <th>CRUD</th>
  </tr>
  
  <% @dropins.each do |dropin| %>
  <tr>
    <td><%= dropin.name %></td>
    <td><%= dropin.sport %></td>
    <td><%= dropin.skill_level %></td>
    <td><%= Location.find(dropin.location_id).name %></td>
    <td><%= Organization.find(dropin.organization_id).name %></td>
    <td><%= number_to_currency(dropin.price_per_one, :unit => "$") %></td>
    <td><%= dropin.schedule.to_s %></td>
    <td><%= dropin.schedule.start_time.strftime('%-d-%b-%y') %></td>
    <td><%= dropin.schedule.last.strftime('%-d-%b-%y') %></td>
    <td><%= dropin.schedule.all_occurrences.count %></td>
    <td><%= dropin.schedule.start_time.strftime('%l:%M%P') %> - <%= dropin.schedule.end_time.strftime('%l:%M%P') %></td>
    <td><%= link_to "DELETE", dropin_path(dropin.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  </tr>
  <% end %>
</table>

