<h1>All Dropins <small>(volleyball only right now)</small></h1>
<a href="/dropins/new" class="btn btn-default">Create new dropin</a>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Location</th>
    <th>Organization</th>
    <th>Schedule</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th># of Sessions</th>
  </tr>
  
  <% @dropins.each do |dropin| %>
  <tr>
    <td><a href="/dropins/<%= dropin.id %>"><%= dropin.name %></a></td>
    <td><%= Location.find(dropin.location_id).name %></td>
    <td><%= Organization.find(dropin.organization_id).name %></td>
    <td><%= dropin.schedule.to_s %></td>
    <td><%= dropin.schedule.start_time.strftime('%-d-%b-%y') %></td>
    <td><%= dropin.schedule.last.strftime('%-d-%b-%y') %></td>
    <td><%= dropin.schedule.all_occurrences.count %></td>
  </tr>
  <% end %>
</table>

