<h1><%= @sport_param.capitalize %> Dropins </h1>
<%= link_to 'Create a new dropin', new_dropin_path, class: 'btn btn-success' %> &nbsp;&nbsp;&nbsp;
<%= link_to 'Volleyball', {:sport => 'volleyball' }, class:'btn btn-default' %>
<%= link_to 'Soccer', {:sport => 'soccer'} , class:'btn btn-default' %>
<%= link_to 'Hockey', {:sport => 'hockey'} , class:'btn btn-default' %>
<%= link_to 'Dragonboat', {:sport => 'dragonboat'} , class:'btn btn-default' %>
<%= link_to 'Basketball', {:sport => 'basketball'} , class:'btn btn-default' %>

<%#= link_to 'Import Dropins', import_dropins_path, class:'btn btn-warning' %><%#<small>(experimeental)</small>%>
<%#= link_to 'Show Only Active', params.merge(:active => 'true'), class:'btn btn-default pull-right' %>
<br>
<br>
<%= render 'dropins_grid' %>
<button class="btn btn-default wg-external-csv-export-button" data-grid-name="dropins">Export to CSV</button>