<h1>Add new drop-in</h1>
<%= form_for :dropin, url: dropins_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  
  <p>
    <%= f.label :sport %><br>
    <%= f.select(:sport, options_from_collection_for_select(Sport.all, :sport, :sport)) %>
  </p>

  <p>
    <%= f.label :skill_level %><br>
    <%= select_tag(:skill_level, options_for_select([
                                                    ['Beginner', 'Beginner'],
                                                    ['Recreational', 'Recreational'],
                                                    ['Intermediate', 'Intermediate'],
                                                    ['Advanced', 'Advanced']
                                                    ])) %>
  </p>

  <p>
    <%= f.label :organization_id %><br>
    <%= f.select(:organization_id, options_from_collection_for_select(Organization.all.order(:name), :id, :name)) %> 
    <small>Organization not on the list? <%= link_to 'Add it here', new_organization_path  %> (Note: Form will reset)</small>
  </p>
  
  <p>
    <%= f.label :location_id %><br>
    <%= f.select(:location_id, options_from_collection_for_select(Location.all.order(:name), :id, :name))%>
    <small>Location not on the list? <%= link_to 'Add it here', new_location_path  %> (Note: Form will reset)</small>
  </p>
  
  <p>
    <%= label_tag(:day, "Day of the week") %><br>
    <%= select_tag(:day, options_for_select([['Monday', 'mo'], 
                                             ['Tuesday', 'tu'],
                                             ['Wednesday', 'we'],
                                             ['Thursday', 'th'],
                                             ['Friday', 'fr'],
                                             ['Saturday', 'sa'],
                                             ['Sunday', 'su']])) %>
  </p>
  
  <p>
    <%= label_tag(:date, "Start Date") %><br>
    <%= select_date Date.today, prefix: :start_date %>
  </p>
  
  <p>
    <%= label_tag(:date, "End Date") %><br>
    <%= select_date Date.today, prefix: :end_date %>
  </p>
  
  <p>
    <%= label_tag(:time, "Time") %><br>
    <%= select_time Time.now.change(hour: 19, min: 0), prefix: :start_time %> - <%= select_time Time.now.change(hour: 22, min: 0), prefix: :end_time  %>
  </p>
 
  <p>
    <%= label_tag(:price_per_one, "Drop-in Price per session") %><br>
    <%= f.number_field :price_per_one, min: 0, step: 0.01 %>
  </p>
  
  <p>
    <%= label_tag(:price_per_group, "Drop-in Price per season (optional)") %><br>
    <%= f.number_field :price_per_group, min: 0, step: 0.01 %>
  </p>
  
  <p>
    <%= label_tag(:spots, "Spots") %><br>
    <%= f.number_field :spots, min: 0, step: 1 %>
  </p>
  
  <p>
    <%= f.label :comments %><br>
    <%= f.text_area :comments %>
  </p>
  
  <p>
    <%= f.label :source %><br>
    <%= f.text_field :source %> <small>Enter the link to the site where you got the information from</small>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>