<h1>Add new dropin</h1>
<%= form_for :sport_event, url: dropins_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <%= render :partial => 'location_form', :locals => { :f => f } %>

    <%= render :partial => 'schedule_form', :locals => { :f => f } %>

    <%= render :partial => 'optional_form', :locals => { :f => f } %>

    <p>
      <%= f.submit %>
    </p>
<% end %>