<h2>Sport Events Expiring Within 2 Weeks!</h2>
<p><b>Description</b>: checks for dropins that have expired within the past week and ones that are expiring in the next two weeks</p>
<p>Note: Negative means it has expired</p>
<table class="table">
<tr>
  <td><b>Name</b></td>
  <td><b>Location</b></td>
  <td><b>Sport</b></td>
  <td><b>Expiry</b></td>
  <td><b>Expiring In</b></td>
</tr>
<hr>
<% @sport_events.each do |se| %>
    <tr>
      <td><%= link_to se.name, renew_dropin_path(se), target: :blank %></td>
      <td><%= se.location.name %></td>
      <td><%= se.sport_id %></td>
      <td><%= se.dt_expiry.localtime %></td>
      <td><%= ((se.dt_expiry - DateTime.now) / 1.days).round.to_s %> days</td>
    </tr>
<% end %>
</table>
