<% content_for :title, "Teamhuddle | About Us" %>

<div class="container about-us">
  <div class="about-us-text col-lg-6">

    <h1>about us</h1>

    <p>Teamhuddle is a community based solution geared to bring the world of athletics closer together. How do we stay
      physically active in this busy world? Everybody wants to play a sport with a familiar face in a community they
      trust, so this social initiative allows you to find the players you love playing with, and the sports you love to
      play. It's that simple.</p>
  </div>

  <div class="mission-text col-lg-6">
    <h1>our mission</h1>

    <p>Our mission is to unite the world of sports among Huddlers of all calibers. People use teamhuddle to express
      their thoughts about the sporting community, share their personal experiences, and recommend sporting
      opportunities to players in their network. We aim to empower, inspire and motivate our Huddlers. </p>
  </div>

  <br><br><br>

  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1>meet the team</h1>

    <div class="tm col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <%= image_tag("profile_placeholder_green.png", class: "img-responsive") %>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h2>Marc Eje</h2>
        <h5><i>Co-Founder / Community Development</i></h5>
        <h4>Something not likely worth bragging about:</h4>
        <p>I look like a dolphin when I swim.</p>
        <h4>Favourite Sport(s):</h4>
        <p>Swimming, tennis, volleyball, bowling.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <h4>Reason for joining teamhuddle:</h4>
        <p>To share the info I had to others that may need them. I got tired of people constantly asking me where to
          play, when to play, who to play with????</p>
        <h4>Inspiration and motivation:</h4>
        <p>Each individual in an endless pool of knowledge and resources, why not share that with the rest of the world.
          Divided we are weak but united we are strong.</p>
      </div>
    </div>

    <div class="tm col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
        <h2>Akos Sebestyen</h2>
        <h5><i>Web Developer</i></h5>
        <h4>Something not likely worth bragging about:</h4>

        <p>Won a match of doubles table tennis with an Austrian in China</p>
        <h4>Athletic Goal by end of 2015:</h4>

        <p>30” vertical.</p>
        <h4>Favorite Sport(s):</h4>

        <p>Volleyball, Table Tennis, Skiing, Frisbee, Soccer, Basketball.</p>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
        <br>
        <h4>Reason for joining teamhuddle: </h4>

        <p>I have been playing volleyball recreationally for a couple of years, but there were no good applications to
          connect the people playing. I want to a create an application that I would want to use as a volleyball player
          myself, in the hopes that we can create a more connected recreational sports community in Vancouver, and then
          the rest of the world!</p>
        <h4>Inspiration and motivation:</h4>

        <p>Be constantly looking for ways to improve yourself; take criticism constructively, be it athletics or
          work.</p>
      </div>
      <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12">
        <br>
        <%= image_tag("profile_placeholder_blue.png", class: "img-responsive") %>
      </div>
    </div>

    <div class="tm col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <%= image_tag("profile_placeholder_red.png", class: "img-responsive") %>
      </div>
      
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h2>Paul Mendoza</h2>
        <h5><i>Web Developer</i></h5>
        
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <h4>Athletic Goal by end of 2015:</h4>

        <p>Touch the basketball rim (10 foot reach).</p>
        <h4>Reason for joining teamhuddle:</h4>

        <p>The opportunity to create something that I would use myself and potentially so many others would be a dream
          come true. Also it’s pretty awesome to continue to work side-by-side with friends I’ve worked with throughout
          my time at BCIT.</p>
        <h4>Inspiration and motivation:</h4>

        <p>Do what you have to now to do what you want to later.</p>
      </div>
    </div>

    <div class="tm col-lg-12 col-md-12 col-sm-12 col-xs-12">
        
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h2>Zamina Sunderji</h2>
        <h5><i>Front-End Developer / Social Media</i></h5>
        <h4>Something not likely worth bragging about:</h4>

        <p>My car is my studio and my rap name is "5 Foot Killa"</p>
        <h4>Athletic Goal by end of 2015:</h4>

        <p>An ollie.</p>
        <h4>Favorite Sport(s):</h4>

        <p>Hockey, Yoga, Hiking (is that a sport?)</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <h4>Reason for joining teamhuddle:</h4>

        <p>I love startups and teamhuddle is no exception. I’m excited to be a part of an awesome team that is so
          passionate about filling a big need within the sporting community. I’m also hopeful that teamhuddle will
          encourage females to attend drop-ins or join a league they wouldn’t otherwise have.</p>
        <h4>Inspiration and motivation:</h4>

        <p>Stay hungry, stay foolish.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <%= image_tag("profile_placeholder_orange.png", class: "img-responsive") %>
      </div>
    </div>

    <div class="tm col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <%= image_tag("profile_placeholder_green.png", class: "img-responsive") %>
        
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <h2>Danny Tran</h2>
        <h5><i>Database Administrator</i></h5>
        <h4>Something likely not worth bragging about:</h4>

        <p>I’ve caught a salmon with a garden rake before.</p>
        <h4>Athletic Goal by end of 2015:</h4>

        <p>High jump over my head again.</p>
        <h4>Favourite Sport(s): </h4>

        <p>Basketball, Football, Swimming.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <h4>Reason for joining teamhuddle:</h4>

        <p>I’ve been an athlete my entire life, alway pushing myself to meet people and get on their good side before I
          show them my moves on the court. I’ll always be equipped with a smile and ready to compete whether it be in
          sports or coding, whichever; the fun will rub off onto everyone around me. Running up the mountains and hiking
          the dirtiest trails is what I do, swimming and biking are my personal choice of transportation. This is all a
          beginning to my adventures into meeting new beautiful people and going on journeys to expand my knowledge.
        <h4>Inspiration and Motivation: </h4>

        <p>If not now, when? If not you, who? Ask yourself this question everyday and you’ll envision everything with a
          new pair of eyes.</p>
      </div>
    </div>

    <div class="tm col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h2>Michaela Tsumura</h2>
        <h5><i>Graphic Designer</i></h5>
        <h4>Something likely not worth bragging about:</h4>

        <p>I can make an exceptional grilled cheese sandwich.</p>
        <h4>Athletic Goal by end of 2015:</h4>

        <p>A chin-up.</p>
        <h4>Favourite Sport(s): </h4>

        <p>Softball, Basketball, and Yoga (If that counts!)</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <h4>Reason for joining teamhuddle:</h4>

        <p>I was presented with an amazing opportunity to join teamhuddle. I couldn’t pass up the chance to further my
          design skills while working with a team of motivational individuals. Teamhuddle will transform the way the
          community thinks about sports and will get people more involved and active. The hardest part about sports and
          exercise is staying motivated. With teamhuddle being surrounded by athletic minded individuals will
          continuously motivate people to be their best.</p>
        <h4>Inspiration and motivation:</h4>

        <p>Practice may make perfect, but it’s more about progress and growth than perfection. </p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <%= image_tag("profile_placeholder_blue.png", class: "img-responsive") %>
        
      </div>
    </div>

    <div class="tm col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <%= image_tag("profile_placeholder_red.png", class: "img-responsive") %>
        
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <h2>Jonathan Yee</h2>
        <h5><i>Co-Founder / Business Development</i></h5>
        <h4>Something likely not worth bragging about:</h4>

        <p>I have never lost a staring contest!</p>
        <h4>Athletic Goal by end of 2015:</h4>

        <p>10 Muscle-ups!</p>
        <h4>Favorite Sport(s):</h4>

        <p>Lacrosse, Soccer, Hockey, Basketball, Rugby</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <br>
        <h4>Reason for joining teamhuddle:</h4>

        <p>It was a solution to a problem. I wanted players to play with and leagues to play in. As a community-wide
          initiative, our goal is to create value and support for the sporting community. This gives everyone the
          opportunity to exercise their right (pun intended) to learn and play organized sports!</p>
        <h4>Inspiration and motivation:</h4>

        <p>Everybody has dreams. I say, remove the word "dream" from your vocabulary and replace it with "goals",
          because dreams are literally figments of our imagination. Goals are tangible and attainable.</p>
      </div>
    </div>
  </div>
</div>