<% content_for :title, "Teamhuddle | About Us" %>
<div class="about-us">
  <section class="banner center-align row">
    <div class=" col s8 offset-s2"><p>Teamhuddle is a community based solution aimed to bring the world of athletics closer together</p>r</div>
  </section>
  <div class="summary row">
    <div class="col s8 offset-s2">
      <h1>OUR MISSION</h1>
      <p>
        Connect and unite our community through recreational, amateur and professional athletics. Use teamhuddle to express your thoughts on your sporting community, share personal experiences, and recommend sporting opportunities to anyone and everyone you know. We aim to empower, inspire and motivate through athletics.
      </p>
    </div>
  </div>
  <div class="team">
    <div class="col s10 offset-s1">
      <h1>MEET THE TEAM</h1>
    </div>
    <div class="teammate">
      <div class="photo">
        <br>
        <%= image_tag("profile_placeholder_green.png", class: "img-responsive") %>
        <div class="normalInfo row">
          <div class="col s12">
            <p><b>MARK EJE</b></p>
            <p>Co-Founder / Community Development</p>
          </div>
        </div>
        <div class="hoverInfo">
          <h4>Something not likely worth bragging about:</h4>
          <p>I look like a dolphin when I swim.</p>

          <h4>Athletic Goal by end of 2015:</h4>
          <p>Swim the 50m Freestyle in 25 seconds.</p>

          <h4>Favourite Sport(s):</h4>
          <p>Swimming, tennis, volleyball, bowling.</p>
        </div>
      </div>
    </div>
    <div class="teammate">
      <div class="photo">
        <br>
        <%= image_tag("profile_placeholder_blue.png", class: "img-responsive") %>
        <div class="normalInfo row">
          <div class="col s12">
            <p><b>AKOS SEBESTYEN</b></p>
            <p>Web Developer</p>
          </div>
        </div>
        <div class="hoverInfo">
          <h4>Something not likely worth bragging about:</h4>
          <p>Won a match of doubles table tennis with an Austrian in China</p>
          <h4>Athletic Goal by end of 2015:</h4>

          <p>30” vertical.</p>
          <h4>Favorite Sport(s):</h4>

          <p>Volleyball, Table Tennis, Skiing, Frisbee, Soccer, Basketball.</p>
        </div>
      </div>
    </div>
    <div class="teammate">
      <div class="photo">
        <br>
        <%= image_tag("profile_placeholder_red.png", class: "img-responsive") %>
        <div class="normalInfo row">
          <div class="col s12">
            <p><b>PAUL MENDOZA</b></p>
            <p>Web Developer</p>
          </div>
        </div>
        <div class="hoverInfo">
          <h4>Something not likely worth bragging about:</h4>
          <p>I have the most contagious laugh</p>

          <h4>Athletic Goal by end of 2015:</h4>
          <p>Touch the rim of a basketball hoop</p>

          <h4>Favourite Sport(s):</h4>
          <p>Volleyball, Ping-Pong.</p>
        </div>
      </div>
    </div>
    <div class="teammate">
      <div class="photo">
        <br>
        <%= image_tag("profile_placeholder_green.png", class: "img-responsive") %>
        <div class="normalInfo row">
          <div class="col s12">
            <p><b>DANNY TRAN</b></p>
            <p>Database Administrator</p>
          </div>
        </div>
        <div class="hoverInfo">
          <h4>Something likely not worth bragging about:</h4>
          <p>I’ve caught a salmon with a garden rake before.</p>
          <h4>Athletic Goal by end of 2015:</h4>
          <p>High jump over my head again.</p>
          <h4>Favourite Sport(s): </h4>
          <p>Basketball, Football, Swimming.</p>
        </div>
      </div>
    </div>
    <div class="teammate">
      <div class="photo">
        <br>
        <%= image_tag("profile_placeholder_blue.png", class: "img-responsive") %>
        <div class="normalInfo row">
          <div class="col s12">
            <h2>MICHAELA TSUMURA</h2>
            <h5><i>Graphic Designer</i></h5>
          </div>
        </div>
        <div class="hoverInfo">
          <h4>Something likely not worth bragging about:</h4>
          <p>I can make an exceptional grilled cheese sandwich.</p>
          <h4>Athletic Goal by end of 2015:</h4>

          <p>A chin-up.</p>
          <h4>Favourite Sport(s): </h4>

          <p>Softball, Basketball, and Yoga (If that counts!)</p>
        </div>
      </div>
    </div>
    <div class="teammate">
      <div class="photo">
        <br>
        <%= image_tag("profile_placeholder_red.png", class: "img-responsive") %>
        <div class="normalInfo row">
          <div class="col s12">
            <p><b>JONATHAN YEE</b></p>
            <p>Co-Founder / Business Development</p>
          </div>
        </div>
        <div class="hoverInfo">
          <h4>Something likely not worth bragging about:</h4>

          <p>I have never lost a staring contest!</p>
          <h4>Athletic Goal by end of 2015:</h4>

          <p>10 Muscle-ups!</p>
          <h4>Favorite Sport(s):</h4>

          <p>Lacrosse, Soccer, Hockey, Basketball, Rugby</p>
        </div>
      </div>
    </div>
  </div>
</div>