<% content_for :title, "Teamhuddle | Contact Us" %>

<div class="container padding-top-70" ng-app="BaseApp">
  <br>

  <div class="contact-us">

    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12" ng-controller="contact">

      <section class="contact-us-text">
        <h1>contact us</h1>

        <p>Teamhuddle has a complete open door policy! We are always looking for suggestions, and are also expanding our
          internal team. At this time, we are on the hunt for community ambassadors that understand the value of
          physical activity and the importance of a strong social media presence. </p>

        <p>Feedback from our network is also very
          important to us, so we'd love to chat. Please don't hesitate to send us an email below.</p>

      </section>
      <div class="form-wrapper" ng-cloak>
        <!-- Show this div while waiting for a response from the server -->
        <div ng-if="processing">
          <p>please wait..</p>
        </div>
        <!-- Show this div on success -->
        <div class="panel panel-success" id="contact-us-reply" ng-if="success && submitted && !processing">
          <p>You'll hear from us soon, {{data.first_name}} {{data.last_name}}!</p>
        </div>

        <!-- Show this div if there was an error -->
        <div class="panel panel-warn" ng-if="!success && submitted && !processing">
          <p>There was an error processing your request. Sorry!</p>
          <span ng-repeat="(key, value) in data">{{key}} - {{value[0]}}<br></span>
        </div>
        <form class="form-horizontal contact-us-form" ng-submit="submit()" ng-hide="success && submitted && !processing">
          <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First name</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" id="firstName" placeholder="" ng-model="form_data.first_name">
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last name</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" id="lastName" placeholder="" ng-model="form_data.last_name">
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>

            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="" ng-model="form_data.email">
            </div>
          </div>
          <div class="form-group">
            <label for="comments" class="col-sm-2 control-label">Comments</label>

            <div class="col-sm-10">
              <textarea class="form-control" id="comment-id" ng-model="form_data.comments"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success pull-right">Send</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 socialmedia-full">
      <ul>
        <li>
          <%= link_to(image_tag("facebook.png", alt: "facebook", class: "socialmedia center-block"), "http://www.facebook.com",) %>
        </li>
        <li>
          <%= link_to(image_tag("twitter.png", alt: "twitter", class: "socialmedia center-block"), "https://twitter.com/tmhuddle",) %>
        </li>
        <li>
          <%= link_to(image_tag("youtube.png", alt: "youtube", class: "socialmedia center-block"), "",) %>
        </li>
        <li>
          <%= link_to(image_tag("instagram.png", alt: "instagram", class: "socialmedia center-block"), "http://instagram.com/tmhuddle",) %>
        </li>
      </ul>
    </div>

    <div class="padding-top-50 padding-bottom-70 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <p class="disclaimer">
        The information on Teamhuddle is gathered from various organizations,
        therefore we can not guarantee complete accuracy. We encourage you to phone
        ahead when attending dropins. If the information is incorrect, please feel
        free to inform us and we will update our data shortly.
      </p>
    </div>
  </div>
  <style>
      /*.footer {*/
      /*position: absolute;*/
      /*min height: 100vh;*/
      /*}*/
      @media (min-width: 510px) {
          .footer {
              bottom: .1px;
          }
      }

      @media (min-width: 420px) {
          .container {
              height: 850px;
          }
      }

      @media (min-height: 930px) {
          .footer {
              position: absolute;
          }
      }


  </style>

</div>

<%= javascript_include_tag 'base_angular_app' %>
