<div class="container" ng-controller="dropins">

  <div class="header" ng-show="sport === 'no-sport'">
    <%= image_tag 'logo-compressed.png', class: "logo center-block", alt: 'teamhuddle_logo'%>
    <h1 class="text-center">teamhuddle</h1>
    <h2 class="text-center">GAME ON!</h2>
  </div>


  <section class="sport_logos text-center" ng-show="sport === 'no-sport'">
      <%= link_to(image_tag("volleyball-compressed.png", :alt => "asdf",
          class: "sport_logo green_bck", id: "first"), "#volleyball") %>
        
      <%= link_to(image_tag("hockey-compressed.png", :alt => "asdf", 
          class: "sport_logo blue_bck", id: "second"), "#hockey") %>
        
      <%= link_to(image_tag("basketball-compressed.png", :alt => "asdf", 
          class: "sport_logo orange_bck", id: "third"), "#basketball") %>
        
      <%= link_to(image_tag("soccer-compressed.png", :alt => "asdf", 
          class: "sport_logo red_bck ", id: "fourth"), "#soccer") %>
            
      <%= link_to(image_tag("dragonboat-compressed.png", :alt => "asdf", 
          class: "sport_logo red_bck", id: "first"), "#dragonboat") %>
      
      <%= link_to(image_tag("baseball.png", :alt => "asdf", 
          class: "disabled sport_logo test_images", id: "second"), "") %>

      <%= link_to(image_tag("ultimate.png", :alt => "asdf", 
          class: "sdisabled sport_logo test_images", id: "third"), "") %>
        
      <%= link_to(image_tag("dodgeball.png", :alt => "asdf", 
          class: "disabled sport_logo test_images", id: "fourth"), "") %>
        
  </section>

  <section ng-show="sport !== 'no-sport'">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 left-wrapper" ng-cloak>
      <map center="Vancouver, Canada" zoom="10">
        <marker ng-repeat="dropin in dropins"
                    position="[{{dropin.location.lat}},{{dropin.location.long}}]"/>
      </map>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 right-wrapper" ng-cloak>        
      <br>
      <div class="dropinfilters_row">
        <button class="btn btn-success col-lg-3 col-md-4 col-sm-6 col-xs-6" ng-click="resetFilters()">reset</button>
        <%= link_to "another sport", "/#/", class: "btn btn-info col-lg-3 col-md-4 col-sm-6 col-xs-6" %>
        <div class="col-lg-3 col-md-2 col-sm-6 col-xs-6">
          <select class="form-control dropin_filter1" ng-model="weekdaySelect" ng-change="setFilters()">
            <option value="" disabled selected>Day of the Week</option>
            <option value="All">All</option>
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-6 col-xs-6">
          <select class="form-control dropin_filter2" ng-model="skillLevelSelect" ng-change="setFilters()">
            <option value="" disabled selected>Skill Level</option>
            <option value="All">All</option>
            <option value="Recreational">Recreational</option>
            <option value="Beginner">Beginner</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Advanced">Advanced</option>
          </select>
        </div>
      </div>

      <h2 class="text-center sport_name" ng-if="sport !== 'no-sport'">{{sport | lowercase }}</h2>
      <div class="dropin_results">  
        <br>
        <table class="table col-lg-6 col-md-10 col-sm-10 col-xs-10">
          <tr class="table-row" ng-repeat="dropin in dropins" ng-mouseover="centerDropin(dropin)">
            <td>{{dropin.datetime_start.time | date:'EEEE'}}</td>
            <td>{{dropin.location.name}}</td>
            <td>{{dropin.sport_event.skill_level}}</td>
            <td>{{dropin.datetime_start.time | date:'h:mm a'}} - {{dropin.datetime_end.time | date:'h:mm a'}}</td>

            <td><span class="button glyphicon glyphicon-remove" ng-click="remove(dropin)" /></td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>
