<% content_for :title, "Teamhuddle | Connecting you with your sports community" %>

<div ng-app="BaseApp"  ng-cloak>
  <div class="landing-page">
    <section class="section-1">
      <div>
        <p>Connecting you with your sports community</p>
        <a>create profile</a>
      </div>
    </section>

    <section class="section-2">
      <div><%= image_tag 'NewByMichaela/New_Icon-BROWSE.png', alt: 'Browse' %>
        <br>
        <h5>Browse</h5>
        <p>Find players and dropins</p>
      </div>

      <div class="line"></div>
      <div><%= image_tag 'NewByMichaela/New_Icon-CONNECT 2.png', alt: 'Connect' %>
        <br>
        <h5>Connect</h5>
        <p>Find your athletic soulmates</p>
      </div>
      <div class="line"></div>
      <div><%= image_tag 'NewByMichaela/New_Icon-PLAY.png', alt: 'Play' %>
        <br>
        <h5>Play</h5>
        <p>Run until you puke</p>
      </div>
    </section>

    <section class="section-3">
      <div>
        <%= image_tag 'NewByMichaela/New_Icon-DROPINS.png', alt: 'Dropin' %>
        <h5>FIND DROPINS</h5>
        <p>Find, Go, Play</p>
      </div>
      <div>
        <%= image_tag 'NewByMichaela/New_Icon-CHECKIN.png', alt: 'Dropin' %>
        <h5>CHECKIN</h5>
        <p>Get ahead of the game</p>
      </div>
      <div>
        <%= image_tag 'NewByMichaela/New_Icon-FIND PLAYER.png', alt: 'Dropin' %>
        <h5>FIND A PLAYER</h5>
        <p>Never be left </p>
      </div>
    </section>
    <section class="section-4">
      <a>join teamhuddle</a>
    </section>
  </div>
  <%= javascript_include_tag 'base_angular_app' %>
</div>