<div class="container" ng-controller="dropins">
<section class="header">
  <%= image_tag 'logo.png', class: "center-block animated bounceInLeft", width: 100, height: 100, alt: 'teamhuddle_logo'%>
  <h1 class="text-center animated bounceInRight">teamhuddle</h1>
  <h2 class="text-center" ng-if="sport === 'somegarbage'">What are you playing tonight?</h2>
  <h2 class="text-center" ng-if="sport !== 'somegarbage'">{{sport | uppercase }}</h2>
  <br>
</section>

<section class="sport_logos text-center" ng-show="sport === 'somegarbage'">
  <%= link_to(image_tag("volleyball1.png", :alt => "asdf", 
      class: "sport_logo green_bck col-lg-3 col-md-3 col-sm-6 col-xs-12 img-responsive"), "", 
      :data => { :'ng-click' => 'sport="volleyball"; refreshDropins()' }) %>
    
  <%= link_to(image_tag("hockey1.png", :alt => "asdf", 
      class: "sport_logo blue_bck col-lg-3 col-md-3 col-sm-6 col-xs-12 img-responsive"), "", 
      :data => { :'ng-click' => 'sport="hockey"; refreshDropins()' }) %>
    
  <%= link_to(image_tag("basketball1.png", :alt => "asdf", 
      class: "sport_logo orange_bck col-lg-3 col-md-3 col-sm-6 col-xs-12 img-responsive"), "", 
      :data => { :'ng-click' => 'sport="basketball"; refreshDropins()' }) %>
    
  <%= link_to(image_tag("soccer1.png", :alt => "asdf", 
      class: "sport_logo red_bck col-lg-3 col-md-3 col-sm-6 col-xs-12 img-responsive"), "", 
      :data => { :'ng-click' => 'sport="soccer"; refreshDropins()' }) %>
    
  <%= link_to(image_tag("dragonboating1.png", :alt => "asdf", 
      class: "sport_logo red_bck col-lg-3 col-md-3 col-sm-6 col-xs-12 img-responsive"), "", 
      :data => { :'ng-click' => 'sport="dragonboat"; refreshDropins()' }) %>
    
  <%= link_to(image_tag("http://placehold.it/280x280", :alt => "asdf", 
      class: "sport_logo test_images col-lg-3 col-md-3 col-sm-6 col-xs-12 img-responsive"), "", 
      :data => { :'ng-click' => 'sport="blank"; refreshDropins()' }) %>
    
  <%= link_to(image_tag("http://placehold.it/280x280", :alt => "asdf", 
      class: "sport_logo test_images col-lg-3 col-md-3 col-sm-6 col-xs-12 img-responsive"), "", 
      :data => { :'ng-click' => 'sport="blank"; refreshDropins()' }) %>
    
  <%= link_to(image_tag("http://placehold.it/280x280", :alt => "asdf", 
      class: "sport_logo test_images col-lg-3 col-md-3 col-sm-6 col-xs-12 img-responsive"), "", 
      :data => { :'ng-click' => 'sport="blank"; refreshDropins()' }) %>
</section>

<section ng-show="sport !== 'somegarbage'">
  <button class="btn" ng-click="sport = 'somegarbage'">Choose a different sport</button>
  <div class="row clearfix">
      <br/>
      <div class="col-md-6 main-wrapper container">
          <div class="col-md-6">
              <h4>Filters <button class="btn btn-default" ng-click="refreshDropins()">Reset</button></h4>
          </div>
          <div class="col-md-6">
              <label>Day of the Week</label>
              <select class="form-control" ng-model="weekdaySelect" ng-change="applyFilters()">
                  <option value="All">All</option>
                  <option value="Monday">Monday</option>
                  <option value="Tuesday">Tuesday</option>
                  <option value="Wednesday">Wednesday</option>
                  <option value="Thursday">Thursday</option>
                  <option value="Friday">Friday</option>
                  <option value="Saturday">Saturday</option>
                  <option value="Sunday">Sunday</option>
              </select>
              <label>Skill Level</label>
              <select class="form-control" ng-model="skillLevelSelect" ng-change="applyFilters()">
                  <option value="All">All</option>
                  <option value="Recreational">Recreational</option>
                  <option value="Beginner">Beginner</option>
                  <option value="Intermediate">Intermediate</option>
                  <option value="Advanced">Advanced</option>
              </select>
          </div>
          <table class="table">
              <tr>
                  <th>Day of the Week 
                      <span ng-class="reverse && (predicate === 'datetime_start.time') ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" 
                            ng-click="reverse =! reverse; predicate = 'datetime_start.time'; order(predicate, reverse)"/>
                  </th>

                  <th>Dropin Name 
                      <span ng-class="reverse && (predicate === 'event.name') ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" 
                            ng-click="reverse =! reverse; predicate = 'event.name'; order(predicate, reverse)"/>
                  </th>
                      <th>
                    Location Name
                  </th>

                  <th>
                    Skill Level
                    <span ng-class="reverse && (predicate === 'sport_event.skill_level') ? 'glyphicon glyphicon-chevron-up' : 'glyphicon glyphicon-chevron-down'" 
                            ng-click="reverse =! reverse; predicate = 'sport_event.skill_level'; order(getSkillSortOrder, reverse)"/>
                  </th>

                  <th>Time</th>
                  <th></th>
              </tr>

              <tr class="table-row" ng-repeat="dropin in dropins" ng-mouseover="centerDropin(dropin)">
                  <td>{{dropin.datetime_start.time | date:'EEEE'}}</td>
                  <td>{{dropin.event.name}}</td>
                  <td>{{dropin.location.name}}</td>
                  <td>{{dropin.sport_event.skill_level}}</td>
                  <td>{{dropin.datetime_start.time | date:'h:mm a'}} - {{dropin.datetime_end.time | date:'h:mm a'}}</td>

                  <td><span class="button glyphicon glyphicon-remove" ng-click="remove(dropin)" /></td>
              </tr>
          </table>
      </div>
      <div class="col-md-6 pull-right">
          <map style="display:block;height:450px;width:100%" center="Vancouver, Canada" zoom="10">
              <marker ng-repeat="dropin in dropins"
                      position="[{{dropin.location.lat}},{{dropin.location.long}}]"/>
          </map>
      </div>
  </div>
</section>
</div>