
<div class="container" ng-controller="location-create">
<div class="col-md-4">
    
  <form ng-submit="search()">
    <label>Search</label><small> only searches in the Greater Vancouver Area</small><br>
    <input type="text" ng-model="searchInput">
    <input value="search" type="submit" class="btn btn-info"/>
  </form>

<%= form_for @location do |f| %>

  <% if @location.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@location.errors.count, "error") %> prohibited
      this article from being saved:</h2>
    <ul>
    <% @location.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
    
  
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name, :"ng-model" => :name, :"ng-init" => :name %>
  </p>
 
  <p>
    <%= f.label :lat %><br>
    <%= f.text_field :lat, :"ng-model" => :lat %>
  </p>
  
  <p>
    <%= f.label :long %><br>
    <%= f.text_field :long, :"ng-model" => :long %>
  </p>
  
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address, :"ng-model" => :address %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>
</div>
<div class="col-md-8" ng-cloak>
    <h3>Search results</h3>
    <span>Address</span>
    <p>{{result.address}}</p>
    <button class="btn btn-info" ng-click="populateForm()">use this</button>
</div>
</div>

<%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyDwIy4KU0bhEV5R3yV5hAqAcL_TIjlrY0o' %>