<h1>All Locations</h1>
<%= link_to 'Create a new location', new_location_path, class: 'btn btn-default'  %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Latitude</th>
    <th>Longtitude</th>
    <th></th>
  </tr>
  
  <% @locations.each do |location| %>
  <tr>
    <td><%= link_to location.name, location_path(location) %></td>
    <td><%= location.address %>
    <td><%= location.lat %></td>
    <td><%= location.long %></td>
    <td>
      <%= link_to 'Edit', edit_location_path(location), class: 'btn btn-default' %>
      <%#<%= link_to 'Delete', location, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </td>
  </tr>
  <% end %>
</table>

