<!DOCTYPE html>
<html ng-app="TeamHuddle">
<head>
  <title ng-bind="title">TeamHuddle</title>
  <%= stylesheet_link_tag  'app',
                           '//fonts.googleapis.com/css?family=Jura:400,600',
                           '//fonts.googleapis.com/css?family=Raleway:400,300',
                           '//fonts.googleapis.com/css?family=Roboto',
                           '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css',
                           'typography',
                           media: 'all',
                           'data-turbolinks-track' => true%>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta name="description" content="Connecting you with your sports community. Find the sports you love playing with the players you love playing with!">

  <%= favicon_link_tag 'favicon.ico' %>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="wrapper">
  <!-- Go to www.addthis.com/dashboard to customize your tools -->
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-53af382b4ee31991" async="async"></script>

  <%= yield %>
</div>

<script>
    //Google Analytics
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function()
    { (i[r].q=i[r].q||[]).push(arguments)}
            ,i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-56771767-1', 'auto');
    ga('send', 'pageview');
</script>
<%= javascript_include_tag 'base_app' %>
<%= javascript_include_tag 'app' %>

</body>
</html>
