<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>teamhuddle</title>
    
    <%= stylesheet_link_tag  'application', 
                             'http://fonts.googleapis.com/css?family=Jura:400,600',
                             'http://fonts.googleapis.com/css?family=Raleway:400,300',
                             'animate',
                             'typography',
                             media: 'all',
                             'data-turbolinks-track' => true%>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
        <%= yield %>
    </div>

    <section class="footer">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

        <h1 class="white padding-top-50">teamhuddle</h1>
          
          <ul>
            <li class="margin-right-20"><%= link_to "Privacy" %></li>
            <li class="margin-right-20"><%= link_to "Terms" %></li>
            <li><%= link_to "Contact Us" %></li>
          </ul>
        
        <p class="grey">&#169 2014, Team Huddle</p>

      </div>
    </section>
    
      <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyDwIy4KU0bhEV5R3yV5hAqAcL_TIjlrY0o' %>
      <%= javascript_include_tag 'application' %>

  <script>
    var navHeight = $('.navbar-collapse').height();

    $('.navbar-collapse').on('show.bs.collapse', function(){
      if($(this).height() != 0){
         navHeight = $(this).height();
      }
      $('body').animate({
        'padding-top': parseInt($("body").css("padding-top")) + navHeight
       }, 100);
    });

    $('.navbar-collapse').on('hide.bs.collapse', function(){
      navHeight = $(this).height();
      $('body').animate({
        'padding-top': parseInt($("body").css("padding-top")) - navHeight
       }, 100);
    });

  </script>

  </body>
</html>
