<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>TeamHuddleClient</title>
  
  <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>
    
  <%= yield %>
  <%= javascript_include_tag '//maps.googleapis.com/maps/api/js?key=AIzaSyDwIy4KU0bhEV5R3yV5hAqAcL_TIjlrY0o' %>
  <%= javascript_include_tag 'application' %>

</body>
</html>
