<h1>All Organizations</h1>
<a href="/organizations/new" class="btn btn-default">Create new organization</a>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
  </tr>
  
  <% @organizations.each do |organization| %>
  <tr>
    <td><a href="/organizations/<%= organization.id %>"><%= organization.name %></a></td>
    <td><%= organization.phone %></td>
    <td><%= organization.email %></td>
    <td>
      <%= link_to 'Edit', edit_organization_path(organization), class: 'btn btn-default' %>
      <%= link_to 'Delete', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </td>
  </tr>
  <% end %>
</table>

