<h1>All Organizations</h1>
<%= link_to 'Create a new organization', new_organization_path, class: 'btn btn-default'  %>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Email</th>
    <th></th>
  </tr>
  
  <% @organizations.each do |organization| %>
  <tr>
    <td><%= link_to organization.name, organization_path(organization)%></td>
    <td><%= organization.phone %></td>
    <td><%= organization.email %></td>
    <td>
      <%= link_to 'Edit', edit_organization_path(organization), class: 'btn btn-default' %>
      <%= link_to 'Delete', organization, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
    </td>
  </tr>
  <% end %>
</table>

